@font-face {
    font-family: 'Metro';
    src: url("fonts/metro.ttf");
   }
  
   @font-face {
    font-family: 'Michroma';
    src: url("fonts/Michroma.ttf");
   }
  
   @font-face {
    font-family: 'Andale';
    src: url("fonts/andalemo.ttf");
   }

body{
    background-color: black;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #adeed7;
}

#list-project{
    display : none;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family : Metro;
    font-weight: 200;
}

#under-title {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    font-family : Metro;
    transform: translateY(-25px);
}

#under-title1 {
    font-size: 20px;
    text-align: center;
    font-family : Metro;
    font-weight: 100;
}

#under-title2 {
    font-size: 20px;
    text-align: center;
    font-family : Metro;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #1daff0;
}

a:hover {
    color : black;
}

h2 {
    text-decoration: underline;
    font-size: 35px;
    font-family: Michroma;
}

h3 {
    font-size: 20px;
}

body{
    width: 70%;
    margin-left: 15%;
}

.inline-list{
    display: inline-block;
    width : 33%;
    text-align: center;
}

li {
    list-style: none;
}

#web {
    transform: translateY(-275px);
}

#side {
    transform: translateY(-220px);
}

td, th{
    padding: 7px;
    font-family: Andale;
}

tr:hover{
    background-color: #e0fff4;
    color: black;
}

#titles:hover{
    background-color: black;
    color: #e0fff4;
}

#titles2:hover{
    background-color: black;
    color: #e0fff4;
}

table {
    border : 1px dotted #adeed7;
    margin: auto;
    background-color: black;
}

table:hover{
    border: 1px solid #adeed7;
}

.table-titles{
    border: 1px dotted #adeed7;
    text-align: left;
    font-family: Michroma;
}

.table-titles:hover{
    border: 1px solid #e0fff4;
    color: #e0fff4;
}

.table-titles2{
    border: 1px dotted #adeed7;
    text-align: left;
    font-family: Michroma;
}

.table-titles2:hover{
    border: 1px solid #e0fff4;
    color: #e0fff4;
}