@font-face {
    font-family: 'Metro';
    src: url("fonts/metro.ttf");
   }
  
   @font-face {
    font-family: 'Michroma';
    src: url("fonts/Michroma.ttf");
   }
  
   @font-face {
    font-family: 'Andale';
    src: url("fonts/andalemo.ttf");
   }

h1 {
    color : red;
    font-size: 50px;
    text-align: center;
    font-family : Metro;
    font-weight: 200;
}

h2 {
    text-decoration: underline;
    font-size: 35px;
    font-family: Michroma;
}

h3 {
    font-size: 20px;
}

body{
    width: 70%;
    margin-left: 15%;
}

.inline-list{
    display: inline-block;
    width : 33%;
    text-align: center;
}

li {
    list-style: none;
}

#web {
    transform: translateY(-275px);
}

#side {
    transform: translateY(-220px);
}

td, th{
    padding: 8px;
    padding-right: 10px;
    border: 1px solid black;
    font-family: Andale;
}

#table-project {
    margin-left: 28%;
}